// mixin ------------------------------------------
// use('stylus_add_func.js')
// unquote(signature("m-shibata", "ver1.0"))

// prefix
dot_u='.u-';  // Utility
dot_l='.l-';  // Layout
dot_t='.t-';  // Theme
dot_c='.c-';  // Component
dot_is='.is-'; // Status
dot_mq='.mq-';// Media query

// Media Query
mq_breakpoint_small = 600px
mq_breakpoint_large = max_width = 1000px

// Basic width (PSD)
psd_width_pc=1200px
psd_width_sp=640px

// Layout
content_width=max_width


isOutputColor=false            // .u-color__color | .u-bgColor__color
isOutputUImportant=true        // u-mXX, u-pXX,
