
.btn {
  border: 1px solid #999;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 2px solid;
  border-color: #aaa #777 #777 #aaa;
}
a {
  &.btn {
    &:active {
      background-color: #888;
    }
  }
}
