.nav-tabs.header-menu {
    display:table;
    white-space: nowrap;
    overflow-x: auto;
    padding: 2px 0 0 0.5px;
    max-width: 100%;
    .item{
        float: none;
        display: table-cell;
        vertical-align: bottom;
    }
}
