/** jqueryTree */
.jqueryFileTree .mask {
    display:none;
}

.setting{
    .new_project{
        padding: 0 0 0 10px;
    }
    .project_lists{
        padding: 0 0 0 10px;
        list-style:none;
    }
    padding:4px;
    .field_group {
        padding: 0px 20px 20px 20px;
    }
}

