/*! common */
body{
  background-color:#272822 !important;
}
#div_C {
  background-color: #fff !important;
}
#consolePanel .layer-panel{
  background-color:#272822;
}
// 検索フィールドの文字色
.ace_search_form .ace_search_field {
  color: #000;
}
