.m-console.div-textarea{
  background-color:#333;
  color: #fff;
  font-family: courier;
  font-size: 14px;
  line-height: 1.25em;
  height: 20em;
  width: 50em;
 overflow-y: scroll;
 overflow-x: hidden;
}
.m-console.div-textarea .error{ color: #f20;}
.m-console.div-textarea .warn { color: #fe0;}
.m-console.div-textarea .info { color: #0ef;}
