.batch-html
    .action
        .detail-text
            データベースにファイル一覧データを作成します
        .toggle-button
            input(type="checkbox" name="check[]" value="1" id="lbl-btn01" onclick='$("#lbl-btn01").click(function( event ) {event.stopPropagation();$(this).prop("checked", true);}); App.execSiteScan();')
            label.btn.btn-primary(for="lbl-btn01") サイトスキャン
        .btn-group.btn-block.clearfix(role='group', aria-label='...')
            //button.btn.btn-default(onclick='$("#lbl-btn01").prop("checked", false);') ボタンを戻す
            button.btn.btn-default.js-cancel(onclick='App.kill();') 処理を中止する
            
    .action
        .detail-text
            データベースのファイル一覧を使ってHTMLファイルをダウンロードします。
        .toggle-button
            input(type="checkbox" name="check[]" value="1" id="lbl-btn02" onclick='$("#lbl-btn02").click(function( event ) {event.stopPropagation();$(this).prop("checked", true);}); App.execSiteValidationEx();')
            label.btn.btn-primary(for="lbl-btn02") HTMLダウンロード
        .btn-group.btn-block.clearfix(role='group', aria-label='...')
            //button.btn.btn-default(onclick='$("#lbl-btn02").prop("checked", false);') ボタンを戻す
            button.btn.btn-default.js-cancel(onclick='App.kill();') 処理を中止する
            button.btn.btn-default(onclick='$(".header-menu .item").eq(2).find("a").click();') ダウンロードしたデータを確認する
    .action
        .detail-text
            ダウンロードしたHTMLをもとにPickles2用のサイトマップCSVを作成します。
        .toggle-button
            input(type="checkbox" name="check[]" value="1" id="lbl-btn03" onclick='$("#lbl-btn03").click(function( event ) {event.stopPropagation();$(this).prop("checked", true);}); App.execSiteValidationCsv();')
            label.btn.btn-primary(for="lbl-btn03") サイトマップCSV作成
        .btn-group.btn-block.clearfix(role='group', aria-label='...')
            //button.btn.btn-default(onclick='$("#lbl-btn03").prop("checked", false);') ボタンを戻す
            button.btn.btn-default.js-cancel(onclick='App.kill();') 処理を中止する
            button.btn.btn-default(onclick='Load.sitemapCSV();') 作成済みのCSVデータを確認する
    .action
        .detail-text
            指定したCSSセレクタを元に、HTMLコードの抜き出し（スクレイピング)します。
        .toggle-button
            input(type="checkbox" name="check[]" value="1" id="lbl-btn04" onclick='$("#lbl-btn04").click(function( event ) {event.stopPropagation();$(this).prop("checked", true);}); App.execHtmlScraping();')
            label.btn.btn-primary(for="lbl-btn04") WEBスクレイピング
        .btn-group.btn-block.clearfix(role='group', aria-label='...')
            //button.btn.btn-default(onclick='$("#lbl-btn04").prop("checked", false);') ボタンを戻す
            button.btn.btn-default.js-cancel(onclick='App.kill();') 処理を中止する
            button.btn.btn-default(onclick='$(".header-menu .item").eq(3).find("a").click();') データを確認する
            button.btn.btn-default(onclick='App.openSiteScan();') Finderで確認する
        
// .btn-group(role='group', aria-label='...')
//   button.btn.btn-default(type='button') Left
//   button.btn.btn-default(type='button') Middle
//   button.btn.btn-default(type='button') Right
