.div-textarea{
  background-color:#333;
  color: #fff;
  font-family: courier;
  font-size: 14px;
  line-height: 1.25em;
  height: 20em;
  width: 50em;
  overflow: scroll;
}
span {
  font-family: courier;
  font-size: 10px !important;
  opacity: 0;
  position: absolute;
}
